	<ol>
	<h1>Leader Board</h1>
	<% @top_10.each do |student| %>
		<li><%= student.name %> from <%= student.cohort_name %> for has <%= student.student_points %> points.</li>
		<%= image_tag(student.gravatar_url) %>
	<% end %>
	</ol>