<% if current_user %>
  <header>
    <a id="open_settings">open settings</a>

    <ul id="settings">
        <div class="setting_header">
          <a id="close_settings">Close</a>
          <h2>Settings</h2>
        </div>

        <li><%= link_to "Profile", student_path(Student.where(uid: current_user.uid).first), class: "setting_titles" %></li>
        <li><%= link_to "Leader Board", students_path, class: "setting_titles" %></li>
        <li><%= link_to "Contact Us", "http://google.com", class: "setting_titles" %></li>
        <li><%= link_to "Sign out", logout_path, id: "sign_out", class: "setting_titles" %></li>
    </ul>
  </header>
<% end %>
